@import '../../styles/variables';

.Button:global(.white) {
  svg {
    path {
      fill: $white;
    }
  }
}

.Button {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 0;
  text-shadow: 0 0 1px;
  border: 2px solid $gold;

  .Text {
    position: relative;
    z-index: 2;

    svg {
      margin-left: 0.5rem;
    }
  }

  &:hover {
    color: $amber;
    transition: all 0.5s ease;

    svg {
      path {
        fill: $amber;
      }
    }
  }
}