@import '../../styles/variables';

.Button {
  position: relative;
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.1rem;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
	cursor: pointer;
	border: 2px solid $blue;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    background: $blue;
    transition: all 0.5s ease;
  }

  &:hover {
    color: $amber;
    text-decoration: none;
    text-shadow: none;

    &:before {
      bottom: 0%;
      top: auto;
      height: 100%;
    }
  }
}