@import '../../styles/variables';

.Modal {
  .ModalHeader {
    button {
      align-self: center;
    }

    div {
      border-left: 8px $amber solid;
      padding-left: 5px;
      padding-bottom: 3px;
    }

    border-width: 2px 2px 0 2px;
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .ModalBody, .ModalHeader {
    border-color: $amber;
    border-style: solid;
  }

  .ModalBody {
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

.Top {
  background-color: black;
  height: 100vh;
  position: relative;

  .Content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      left: 8%;
      transform: translateY(-50%);
    }
  }
}

div.ContactBlock {
  @media (min-width: 768px) {
    height: 280px;
  }

  @media (min-width: 825px) {
    height: 250px;
  }

  @media (min-width: 992px) {
    height: 230px;
  }

  @media (min-width: 1200px) {
    height: 370px;
  }

  @media (min-width: 1360px) {
    height: auto;
  }
}

.ContactBlock {
  cursor: pointer;
  text-shadow: 0 0 1px;
  border: 2px solid $gold;
  
  .Text {
    position: relative;
    z-index: 2;

    * {
      transition-delay: 0.1s;
    }
  }

  &:hover {
    border-color: transparent;
    transition: border-color 0.8s ease;
    transition-delay: 0.25s;

    .Text {
      span, h4 {
        color: $amber;
      }

      p {
        color: $white;
      }
    }
  }
}