@import '../../styles/variables';

.ImageLoader {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $very-black;

  .Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .Image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}