@import '../../styles/variables';

.Top {
  background-color: black;
  height: 100vh;
  position: relative;

  .Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-self: center;
  }
}