@import '../../styles/variables';
@import '../../styles/linear';

.Top {
  background: url('/images/projects_bg.jpg');
  background-size: cover;
  background-position: (0%, 50%);
  height: 100vh;
  max-height: 1400px;
  position: relative;

  .Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-self: center;
    z-index: 3;
  }

  .Cover {
    background: $blue;
    background: $diagonal;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.9;
    top: 0;
    left: 0;
  }
}

.Button {
  margin: auto;

  @media (min-width: 380px) {
    width: 80%;
  }
  
  @media (min-width: 768px) {
    width: 40%;
  }
}